/* Pr0 Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Color Refrences */

/*

red_grey: #1D1E21;
spring-green :00FF7F;

*/

html, body{
  font-family: 'Roboto', sans-serif !important;
}

/* Pr0 Background */

html, body{
  background-color : #1D1E21;
  color: #FFFFFF;
}

/* Hide Scroll bar through Magic */

html,body {
    overflow: scroll;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.navbar{
  background-color: #1D1E21;
}

*{
  box-sizing: border-box;
}

h2{
  margin-right: 50px;
}

html, body{
  padding: 0;
  margin: 0;
  background-color: #1D1E21;
}

.navbar{
  padding:  10px 20px;
  font-size:  20px;
}

#hero-banner{
  width: 100%;
  height: 650px;
  margin-top: 50px;
  padding: 5px;
  background-color: #1D1E21;
  background-image: url("imgs/ironman3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  color: #FFFFFF;
  filter: grayscale(100%);
  transition: 1s 1s;
}

#hero-banner:hover{
  filter: grayscale(0%);
}


#hero-banner > div{
  width: 400px;
  padding:  20px;
  margin-left: 100px;
  margin-right: 150px;
}

#hero-banner > div h2{
  color: #FF0000;
  letter-spacing: 5px;
  font-size:  48px;
  margin: 5px;
}

#hero-banner > div h4{
  color: #FF0000;
  letter-spacing: 5px;
  font-size:  24px;
  margin: 5px;
}

.content{
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

h2{
  font-size:  34px;
}

p{
  font-size:  24px;
}

#content-box{
  width: 370px;
  height: 370px;
  margin: 40px 40px;
  position: relative;
  display: inline-block;
}


.imgs{
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: grayscale(100%);
  transition: 1s;
}

.imgs:hover{
  filter: grayscale(0%);
}

.caption{
  background-color: rgba(29,30,33,0.7);
  color: #FFFFFF;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  opacity: 0;
  text-align: left;
  transition: 2s;
}

#content-box:hover .caption{
  opacity: 1;
}

.img-1{
  background-image: url("imgs/1.jpg");
}

.img-2{
  background-image: url("imgs/2.jpg");
}

.img-3{
  background-image: url("imgs/3.jpg");
}

.img-4{
  background-image: url("imgs/4.jpg");
}

.img-5{
  background-image: url("imgs/5.jpg");
}

.img-6{
  background-image: url("imgs/6.jpg");
}

.img-7{
  background-image: url("imgs/7.jpg");
}

#socialIconsbar{
  width: 50px;
  position: fixed;
  top: 40%;
  left: -35px;
}

.social-navbar{
  width: 50px;
}

.social-navbar ul{
  margin: 0;
  padding: 0;
  z-index: 9999 !important;
}

.social-navbar li{
  list-style-type: none;
  padding: 10px;
  text-align: left;
  font-size:  20px;
  z-index: 9999 !important;

}

.social-navbar a{
  text-decoration: none;
  color: #FFFFFF;
  z-index: 9999 !important;
}

.icon-g{
  background-color: #FF0000;
  z-index: 9999 !important;

}

.icon-t{
  background-color: skyblue;
  z-index: 9999 !important;

}

.icon-p{
  background-color: orange;
  z-index: 9999 !important;

}

.icon-d{
  background-color: purple;
  z-index: 9999 !important;

}

.social-navbar li:hover{
  width: 90px;
  text-align: right;
  z-index: 9999 !important;
}

@keyframes animate{
   0%{
     opacity: 0;
   }
   50%{
     opacity: 0.7;
   }
   100%{
     opacity: 0;
   }
 }

#mitm{
  position: relative;
  left: 40%;
}
@media (max-width:480px){
   #mitm{
     position: relative;
     left: 23% !important;
   }
}
